@font-face {
  font-family: 'Restaurant';
  src: url("fonts/Restaurant.ttf") format("truetype"); }
@font-face {
  font-family: 'Encounters';
  src: url("fonts/SFAlienEncounters.ttf") format("truetype"); }
@font-face {
  font-family: 'Cinzel';
  src: url("fonts/Cinzel.ttf") format("truetype"); }

:root
{
  --transparentWhite: #fafafad0;
  --mtWhite: #fafafa;
  --mtGray: #323232;
  --mtPink: #ff80e0;
  --mtYellow: #ffe080;
  --mtGreen: #80ffe0;
  --mtPurple: #e080ff;
  --mtBlue: #80e0ff;

  --aspectUnit: calc(1vw / 1vh);
  --headerHeight: 10vh;
  --separatorHeight: 2vh;
  --borderRadius: 5px;

  --shadow: 2px 2px 2px var(--mtGray);
  --textBorder: 1px 1px 0px var(--mtGray), -1px -1px 0px var(--mtGray), 1px -1px 0px var(--mtGray), -1px 1px 0px var(--mtGray);
}

::-webkit-scrollbar {
  width: 0.5vw;
  height: 0.5vw; 
}

::-webkit-scrollbar-thumb {
  background: var(--transparentWhite);
  border-radius: 10px; }

::-webkit-scrollbar-thumb:hover {
  background: var(--transparentWhite);
  border-radius: 10px; }

::-webkit-scrollbar-track {
  display: none; } 

body {
  scrollbar-face-color: #ffe080;
  scrollbar-track-color: #323232; }

body 
{
  font: 100% Helvetica, sans-serif;
  background-color: #323232;
  overflow-x: hidden; 
  scrollbar-color: #ffffff #323232;
}

.languageSelector
{
  display: flex;
  flex-direction: row;
  right: 0;
  margin: calc(var(--headerHeight) / 20);
}

.languageSelector button
{
  margin: calc(var(--headerHeight) / 20);
  width: calc(var(--headerHeight) / 2);
  height: calc(var(--headerHeight) / 2);
  background: var(--mtGray);
  color: var(--mtWhite);
  border-radius: var(--borderRadius);
  border: solid calc(var(--headerHeight) / 40);
  border-color: var(--mtGray);
}

.languageSelector button.selected
{
  background: none;
  color: var(--mtGray);
}

.boidsCanvas 
{
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0; 
}

.navBar {
  display: flex;
  background-color: #80e0ff;
  position: fixed;
  width: 70vw;
  height: var(--headerHeight);
  margin-left: 15vw;
  top: 0px;
  border-radius: 0 0 5px 5px;
  align-items: center;;
   }

.navButtons
{
  flex:1;
  display: flex;
  justify-content: space-between;
  margin: 0 3vw;
}

.navButton {
  text-align: center; }
  .navButton svg {
    max-width: 100%;
    max-height: 10vh; }

.navLink {
  color: #ffe080;
  font-size: 4vw;
  text-decoration: none;
  text-shadow: var(--shadow);
  text-align: center; }

.contentArea {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 0;
  width: 70vw;
  margin-left: 15vw; }

.contentAnchor
{
  position: relative;
  top: calc(-1 * var(--headerHeight));
  padding-bottom: var(--separatorHeight);
}

.contentTopMargin{
  height: var(--headerHeight);
}

.contentSeparator {
  height: var(--separatorHeight); }

.contentFooter {
  font-family: Cinzel;
  font-size: 1.5vw;
  color: var(--transparentWhite);
  text-align: center;
  width: 70vw;
  vertical-align: bottom;
  padding-top: var(--separatorHeight);
}

.contentFooter span
{
  align-self: flex-end;
  text-align: center;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--transparentWhite);
  border-radius: 5px; }
  .contentWrapper .contentPreview {
    display: flex;
    height: 100%}
    .contentWrapper .contentPreview .readables 
    {
      display: flex;
      flex-flow: column;
      flex: 1;
      float: left;
      width: 60%; 
      margin: 2vw 0vw 2vw 2vw;
    }
      .contentWrapper .contentPreview .readables .title {
        display: flex;
        background: #323232;
        border-radius: 5px;
        align-items: center;
        height: 5vw; }
        .contentWrapper .contentPreview .readables .title p.chefTitle {
          font-size: 4vw;
          color: #ff80e0;
          margin-left: 0px; }
        .contentWrapper .contentPreview .readables .title p.paraBellumTitle {
          font-family: Encounters;
          color: #ffe080; }
        .contentWrapper .contentPreview .readables .title p {
          font-size: 4vw;
          margin-left: 1vw;
          color: #ff80e0;
          font-family: Helvetica;
          text-shadow: var(--shadow); }
        .contentWrapper .contentPreview .readables .title img {
          width: 5vw;
          height: 5vw; }
      .contentWrapper .contentPreview .readables .preamble {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 5vw;
        margin-left: 5vw;
        margin-top: 2vh;
        margin-bottom: 1vh; }
        .contentWrapper .contentPreview .readables .preamble .quothi {
          display: flex;
          height: 5vw; }
          .contentWrapper .contentPreview .readables .preamble .quothi div {
            text-align: center; }
            .contentWrapper .contentPreview .readables .preamble .quothi div p {
              margin-top: 0px;
              margin-bottom: 0px;
              font-family: Helvetica;
              color: #323232;
              font-size: 2vw; }
            .contentWrapper .contentPreview .readables .preamble .quothi div .highlight {
              font-family: Helvetica;
              font-size: 2vw;
              color: #ff80e0;
              margin-left: 0.5vw; }
      .contentWrapper .contentPreview .readables .description {
        display: flex;
        flex: 1;
        align-items: center; }
        .contentWrapper .contentPreview .readables .description p {
          color: #323232;
          font-size: 1.5vw;
          font-family: Helvetica; }
        .contentWrapper .contentPreview .readables .description a 
        {
          font-family: Helvetica;
          font-size: 1.5vw;
          color: var(--mtGray);
          text-decoration: var(--mtGray) underline dotted;
        }
        .contentWrapper .contentPreview .readables .description a:hover 
        {
          text-decoration: var(--mtGray) underline;
        }
      .contentWrapper .contentPreview .readables .links {
         }
        .contentWrapper .contentPreview .readables .links .linkButton {
          height: 2.5vw;
          display: flex;
          align-items: center; }
          .contentWrapper .contentPreview .readables .links .linkButton a.paraBellumLink {
            font-family: Encounters;
            font-size: 2vw;
            color: #ffe080;
            text-decoration: none;
            text-align: center;
            margin: 1vw; }
          .contentWrapper .contentPreview .readables .links .linkButton a {
            font-family: Helvetica;
            font-size: 2vw;
            color: var(--mtGray);
            text-decoration: var(--mtGray) underline dotted;
          }
          .contentWrapper .contentPreview .readables .links .linkButton a:hover {
            text-decoration: var(--mtGray) underline;}
    .contentWrapper .contentPreview .image {
      float: right;
      width: 40%; }
      .contentWrapper .contentPreview .image .buffer {
        display: flex;
        background: #323232;
        border-radius: 5px;
        margin: 2vw 2vw 2vw 2vw;
        width: 25vw;
        align-items: center;
        justify-content: center; }
        .contentWrapper .contentPreview .image .buffer img {
          width: 98%;
          background-size: contain;
          padding-top: 1%;
          padding-bottom: 1%;
          border-radius: 5px; }
  .contentWrapper .webgl-box {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%; }
  .contentWrapper .bodyHidden {
    display: none; }
  .contentWrapper .body {
    margin-left: 5vw;
    margin-right: 5vw;
    column-count: 2;
    font-family: Helvetica;
    color: #323232; }

.content {
  position: relative;
  width: 100%; }

.topBuffer {
  height: 10vh; }

.fill {
  width: 100%;
  height: 100%; }